@page
@model IndexModel
@{
  ViewData["Title"] = "Home";
}

<h1 class="cover-heading">Welcome.</h1>
<p class="lead">Use this service to request a song from any genre, by any artist, to be played by an imaginary nationwide station.</p>
<a asp-page="/Request" class="btn btn-lg btn-secondary">Request a song</a>
